.copy-req {
    padding: var(--size-2-2) var(--size-2-3);
    position: absolute;
    top: 0;
    right: 34px;
    display: flex;
    border-radius: var(--radius-s);
    cursor: var(--cursor);
}

ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

