.copy-req {
    padding: var(--size-2-2);
    position: absolute;
    top: 2px;
    right: 34px;
    display: flex;
    cursor: var(--cursor);
    opacity: 0;
    background-color: transparent !important;
    box-shadow: none !important;
}

.block-language-req:hover .copy-req {
    opacity: 1;
    background-color: var(--background-modifier-hover) !important;
}

.todo-li {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

/* Tables CSS */

.table-container {
    margin-right: 30px;
}

.cocontainer{
    display: flex;
}

.full-width {
    width: 100% !important;
    margin-right: 0px !important;
}

.api-table {
    border-collapse: collapse;
}

.api-table a {
    text-decoration: none;
}

.api-table th, .api-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.api-table th {
    background-color: #f2f2f2;
    color: black;
}

.api-table tr:hover :not(th) {
    background-color: #F3A0A0;
    color: black;
    cursor: pointer;
}

.api-table tr:hover a {
    color: black;
}

.table-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.btn-add-apir, .btn-clear-apir {
    width: 53%;
    background-color: #4CAF50 !important;
    color: white !important;
    cursor: pointer;
}

.btn-add-apir {
    background-color: #4CAF50 !important;
}

.btn-clear-apir {
    background-color: #f44336 !important;
}

.summary-text {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #4CAF50;
    cursor: pointer;
    list-style: none;
}

.modal_textarea {
  width: 100%;
  min-height: 60px;
  border: none; 
  outline: none;
  padding: 8px; 
  font-size: 16px;
  margin-top: 10px;
}

